<body>
    <p class="bold">
        Welcome to CSE Motors!
    </p>
    <img src="./public/images/vehicles/delorean-tn.jpg" class="car">
    <p class="blue-bold"> DMC Delorean</p>
    <p class="blue"> 3 cup holders Superman doors
        Fuzzy dice! </p>
    <img src="./public/images/site/own_today.png" class="today">
    <p class="bold-upgrades">
        Delorean Upgrades</p>
    <img src="./public/images/Upgrades/flux-cap.png" class="upgrades">
    <a href="./partials/index.ejs" class="upgrades">Flux Capacitor</a>
    <img src="./public/images/upgrades/flame.jpg" class="upgrades">
    <a href="./partials/index.ejs" class="upgrades">Flame Decals</a>
    <img src="./public/images/upgrades/bumper_sticker.jpg" class="upgrades">
    <a href="./partials/index.ejs" class="upgrades">Bumper Stickers</a>
    <img src="./public/images/upgrades/hub-cap.jpg" class="upgrades">
    <a href="./partials/index.ejs" class="upgrades">Hub Caps</a>
    <p class="bold-reviews">
        DMC Delorean Reviews
    </p>
    <ul>
    <p class="bullets">
        "So fast its almost like traveling in time." (4/5)
        <br>
        "Coolest ride on the road." (4/5)
        <br>
        "I'm feeling McFly!"(5/5)
        <br>
        "The most futuristic ride of our day" (4.5/5)
        <br>
        "80's livin and I love it!"(5/5)
    </p>
    </ul>
</body>